<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>web</title>
     <script type="text/javascript">
    function submitform(){
        var xhr = new XMLHttpRequest();
        var url = "http://10.188.16.194:8080/api/test";
        xhr.open("POST", url, true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function () {
            if (this.readyState === 4 && this.status === 200) {
                var json = JSON.parse(xhr.responseText);

            }
        };
        var data = JSON.stringify({"uname": "qqq", "pword": "aaa"});
        xhr.send(data);
    }
</script>
</head>
<body>
    <h1>Enter the following number:</h1>
    <form action="" enctype='multipart/form-data' method='POST'>
        <br>
        <input type="text" class="txt_input" name="name"  value="" style="margin-top:10px;"/>
        <input type="text" class="txt_input" name="password"  value="" style="margin-top:10px;"/>
        <input type="button" value="submit" class="button-new" style="margin-top:15px;" onclick="submitform()"/>
    </form>
</body>
</html>
