<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript">
    function submitform(){
        var xhr = new XMLHttpRequest();
        var url = "http://10.188.16.194:8080/api/v1.0/Users/login";
        xhr.open("POST", url, true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function () {
            if (this.readyState === 4 && this.status === 200) {
                var json = JSON.parse(xhr.responseText);

            }
        };
        var data = JSON.stringify({"unique_key": document.getElementById("uname").value, "pword": document.getElementById("pword").value});
        xhr.send(data);
    }
</script>
</head>
<body>

    <form action="/api/v1.0/Users/login" method="post" name="myForm">
        <label for="uname"><b>Username</b></label>
        <input id="uname" type="text" placeholder="Enter Username" name="uname" required>

        <br>

        <label for="pword"><b>Password</b></label>
        <input id="pword" type="password" placeholder="Enter Password" name="pword" required>

        <br>

        <input value="Submit" type="button" onclick="submitform()">
    </form>

    <br>

    <span class="psw">Forgot <a href="#">password?</a></span>



</body>
</html>

