<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script>
        var username_list = {{ data | tojson }};
        console.log(username_list);
        var alert_address = {{ alert_address }};

        if( alert_username == 1 ) {
            alert("Username already in use");
        }

        if( alert_address == 1 ) {
            alert("Address could not be found");
        }

        function check_username() {
            if( username_list.includes(document.getElementById("new_uname").value) ) {
                alert("Username already in use");
                console.log(username_list);
                console.log(document.getElementById("new_uname").value);
                return false;
            }
            else {
                return true;
            }
        }

        function check_pass() {
            if( document.getElementById("new_psw").value != document.getElementById("rep_psw").value ) {
                alert("Passwords do not match!");
                return false;
            }
            else {
                return true;
            }
        }

        function check_us_and_pass() {
            return (check_username() && check_pass() );
        }
    </script>

</head>
<body>

    <form action="/sign_up" method="post" >
        <div class="container">
                <label for="new_uname"><b>New Username</b></label>
                <input id="new_uname" type="text" placeholder="Enter New Username" name="new_uname" required>

                <br>

                <label for="new_psw"><b>New Password</b></label>
                <input id="new_psw" type="password" placeholder="Enter New Password" name="new_psw" required>

                <br>

                <label for="rep_psw"><b>Retype Password</b></label>
                <input id="rep_psw" type="password" placeholder="Enter Retype Password" name="new_psw" required>

                <br>
                <label for="email"><b>Retype Password</b></label>
                <input id="email" type="email" placeholder="Enter your email" name="new_psw" required>

                <br>

                <label ><b>Address</b></label>
                <input id="adrs" type="text" placeholder="Enter Your Address" name="address" required>

                <br>

                <label ><b>City</b></label>
                <input id="city" type="text" placeholder="Enter Your City" name="city" required>

                <br>
        </div>

        <button type="submit">Create User</button>
    </form>

</body>
</html>